version: 2.1

jobs:
  hello-job:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Force Failure
          command: exit 1

workflows:
  hello-workflow:
    jobs:
      - hello-job
