version: 2.1

jobs:
  hello-job:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: echo "Hello from CircleCI"
      - run: echo "hi"
workflows:
  hello-workflow:
    jobs:
      - hello-job
